* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Product Sans",  sans-serif;
}

.Content {
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-center {
    width: 75vw;
}

.home-box {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: -90px;
}

.home-box-item {
    width: 350px;
    height: 270px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 35px 30px;
    transition: 0.7s;
}

.home-box-item2 {
    width: 350px;
    height: 270px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 35px 30px;
    color: #FFFFFF;
}

.home-box-item:after {
    bottom: 0;
    left: 0;
    position: absolute;
    content: "";
    width: 350px;
    height: 0;
    background: #7370D8;
    transition: 0.4s ease-in-out;
}

.home-box-item:hover {
    color: #FFFFFF;
    transition: 0.5s;
    cursor: pointer;
}

.home-box-item:hover:after {
    content: "";
    height: 270px;
    cursor: pointer;
}

.home-box-item2:hover {
    cursor: pointer;
}

.icons {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.box-title {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

.box-item-hover {
    background: #7370D8;
    cursor: pointer;
}

.box-title-h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
    z-index: 10;
}

.box-title-btn {
    width: 190px;
    height: 45px;
    background: #FFFFFF;
    outline: none;
    border: none;
    color: #7370D8;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 10;
}

.box-title-p {
    z-index: 10;
}

.icon {
    font-size: 16px;
    margin-left: 10px;
}

.icons img {
    z-index: 10;
}

.home-about-content {
    width: 100%;
    height: 905px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about-content {
    width: 100%;
    height: 705px;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-about-content .about-content-img {
    width: 50%;
    height: 100%;
    /*border: 1px solid black;*/
    display: flex;
    align-items: center;
}

.content-about-content .about-content-title {
    width: 50%;
    height: 100%;
    /*border: 1px solid black;*/
    padding: 10px 20px 0 0;
}

.content-about-content .about-content-img img {
    width: 90%;
    height: 100%;
}

.content-title-box {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /*border: 1px solid black;*/
}

.content-title-h2 {
    font-size: 16px;
    color: #7370D8;
    text-transform: uppercase;
}

.content-title-h1 {
    font-size: 38px;
    color: #272B36;
    word-spacing: 1px;
    letter-spacing: 1px;
    line-height: 45px;
}

.content-title-p {
    color: #747474;
}

.content-title-box2 {
    width: 100%;
    height: 25%;
    /*border: 1px solid black;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-title-box3 {
    width: 100%;
    height: 40%;
    /*border: 1px solid black;*/
}

.box2-item {
    width: 90%;
    height: 85%;
    border-left: 5px solid #7370D8;
    padding: 5px 0 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box2-item-p {
    font-style: italic;
    font-size: 16px;
    color: #272b36;
    line-height: 25px;
    font-weight: 500;
}

.box2-item-p1 {
    color: #7A7A7A;
    font-size: 16px;
}

.content-title-box3 .title-box-btn {
    width: 100%;
    height: 40%;
    /*border: 1px solid black;*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.content-title-box3 .title-box-title {
    width: 100%;
    height: 60%;
    /*border: 1px solid black;*/
}

.title-box-btn button {
    width: 175px;
    height: 50px;
    color: #FFFFFF;
    background: #7370D8;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.2s linear;
}

.title-box-btn button:hover {
    margin-bottom: 10px;
    color: #272b36;
}

.title-box-title .title-box-box {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
}

.title-box-box i {
    margin-right: 10px;
    color: #7370D8;
    font-weight: 700;
    font-size: 18px;
}

.title-box-box p {
    color: #7A7A7A;
    font-size: 16px;
}

.our-service-container {
    width: 100%;
    height: 865px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.our-service-container .home-service-content {
    width: 100%;
    height: 770px;
    border: 1px solid black;
}

.home-service-content .home-service-box1 {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-service-content .home-service-box2 {
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-service-box1 .service-box-item1 {
    width: 360px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    flex-direction: column;
}

.home-service-box2 .service-box-item2 {
    width: 360px;
    height: 305px;
    border: 1px solid black;
}

.service-box-btn {
    width: 175px;
    height: 50px;
    color: #FFFFFF;
    background: #7370D8;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 14px;
    transition: 0.2s linear;
}

.service-box-btn:hover {
    color: #272b36;
    margin-bottom: 10px;
}

.service-box-item-title {
    width: 100%;
    height: 80%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.service-box-item-btn {
    width: 100%;
    height: 20%;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
}

.service-box-item-title-h {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.service-box-item-title-p {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #7A7A7A;
    word-spacing: 1px;
    line-height: 22px;
}

.service-box-item-title-h h2 {
    color: #7370D8;
    text-transform: uppercase;
    font-size: 16px;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.service-box-item-title-h h1 {
    color: #272b36;
    font-size: 38px;
}