
.Main {
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/site_labs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.Container {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

.Con_flex {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Content_tx {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content_video {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.con_tx {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.con_tx-p {
    color: #fff;
}

.con_tx h1 {
    font-size: 80px;
    color: #7370D8;
}

.con_tx .con_tx-p {
    font-size: 20px;
    line-height: 35px;
}


.Video_img img {
    width: 100px;
}

.Video_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}