* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #7370D8;
}

.header_container {
    width: 70vw;
    display: flex;
}

.con_logo {
    width: 70%;
}

.con_logo img {
    width: 120px;
}

.con_nav_bar {
    width: 30%;
}

.bt {
    padding: 10px 15px;
    background: #7370D8;
    color: #fff;
    list-style: none;
    transition: .5s;
}

.bt:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.bt a {
    text-decoration: none;
    color: #fff;
}

.con_nav_bar .ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.con_nav_bar .ul .list_item {
    list-style: none;
}

.con_nav_bar .ul .list_item a {
    text-decoration: none;
    outline: none;
    color: #000;
    transition: .2s;
}

.con_nav_bar .ul .list_item a:hover {
    color: #865FDC;
}