* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.Main {
    width: 100%;
    height: 100%;
    background-image: url("../public/img/image_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.Container {
    width: 1300px;
    height: 100vh;
    display: flex;
    }

.Con_flex {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
}
.Content_tx {
    width: 50%;
    height: 250px;
    display: flex;
}

.con_tx {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.con_tx h1,p {
    color: #fff;
}

.con_tx h1 {
    font-size: 80px;
}

.con_tx p {
    font-size: 20px;
    line-height: 35px;
}
.Content_video {
    width: 50%;
    height: 150px;
    display: flex;
}

.Content_video img {
    width: 50px;
}

.Video_img {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

